/*Testing */
* {
    border: 1px solid red;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

/*
    Color Pallete:
    Maroon: 800000
    Choclate Cosmos: 5B2328
    Charcoal: 36454F
    Cadet Gray: 9BA2A7
    White: FFFFFF
*/

:root {
    --nav-text: #36454f;
    --primary-color: white;
    --secondary-color: maroon;
    --hover-color: #5B2328;
}

body {
    margin: 10px;;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.logo {
    height: 45px
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}

.navbar a {
    color: var(--nav-text);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.contentblock {
    min-width: 100%;
    width: fit-content;
    min-height: 1400px;
    box-sizing: border-box;
}


#footer{
    display: table;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}